.logo2{


    
    display: absolute;
    position: relative;
    left: 34%;
    height: 400px;
    width: 400px;
    top:50px;
  }

  .subtexto{
     
    display: flex;
    justify-content: center;
    
    

    font-size: 3rem;
 
  }

  .section{

    
    padding-left: 50px;
   
  
  

  }